---
import CourseCard from "./CourseCard.astro";
import { routes } from "@/lib/routes";
import { getAllCourses } from "@/lib/fetch/courses";
import SectionHeading from "@/components/common/SectionHeading.astro";
import ViewAllButton from "@/components/common/button/ViewAllButton.astro";

const coursesRes = await getAllCourses();
const courses = coursesRes.data || [];
const featuredCourses = courses?.slice(0, 3);
---

<section class="section-courses">
  <div class="section-container">
    <div class="section-header">
      <SectionHeading
        title="Popular Courses"
        subTitle="Explore the most sought-after programs"
      />
      <ViewAllButton title="Courses" url={routes.COURSES} />
    </div>

    <div class="courses-grid">
      {featuredCourses.map((course) => <CourseCard course={course} />)}
    </div>
  </div>
</section>
