// variables
$primary-color: #2a73f4;

$text-primary-color: #1e1e1e;
$text-gray: rgb(55 65 81);
$text-white: #fff;

$backgroung-gray: #dcdcdc;
$background-transparent: transparent;

$border-light: #dcdcdc;

$border-radius-normal: 5px;

$font-bold: 500;