---
import SpecializationCard from "./SpecializationCard.astro";

const specializations = [
    {
        name: "Information Technology",
        icon: "computer",
        href: "/universities?specialization=information-technology"
    },
    {
        name: "Business Administration",
        icon: "business",
        href: "/universities?specialization=business"
    },
    {
        name: "Accounting & Finance",
        icon: "accounting",
        href: "/universities?specialization=accounting"
    },
    {
        name: "Data Science",
        icon: "data-science",
        href: "/universities?specialization=data-science"
    },
    {
        name: "Artificial Intelligence",
        icon: "ai",
        href: "/universities?specialization=ai"
    },
    {
        name: "Cybersecurity",
        icon: "cyber-security",
        href: "/universities?specialization=cybersecurity"
    },
    {
        name: "Finance & Economics",
        icon: "finance",
        href: "/universities?specialization=finance"
    },
    {
        name: "Management Studies",
        icon: "cash",
        href: "/universities?specialization=management"
    }
];
---

<section class="section-specialization">
    <h2 class="section-title">Fields of Study</h2>

    <div class="section-inner">
        {
            specializations.map((specialization) => (
                <SpecializationCard 
                    name={specialization.name}
                    icon={specialization.icon}
                    href={specialization.href}
                />
            ))
        }
    </div>
</section>
