---
import StudyAbroadCard from "./StudyAbroadCard.astro";
import { getAllCountries } from "@/lib/fetch/countries";
import { routes } from "@/lib/routes";
import SectionHeading from "@/components/common/SectionHeading.astro";
import ViewAllButton from "@/components/common/button/ViewAllButton.astro";

const countriesRes = await getAllCountries();
const countries = countriesRes.data;
const featuredCountries = countries?.slice(0, 6);
---

<section class="section-destinations">
  <div class="section-container">
    <div class="section-header">
      <SectionHeading
        title="Popular Destinations"
        subTitle="Discover top study abroad destinations for Nepali students"
      />
      <ViewAllButton title="Destinations" url={routes.STUDY_ABROAD} />
    </div>

    <div class="destinations-grid">
      {
        featuredCountries?.map((country) => {
          return <StudyAbroadCard studyAbroadCardData={country} />;
        })
      }
    </div>
  </div>
</section>
