---
import type { CountryCard } from "@/lib/types/country";
import { routes } from "@/lib/routes";

const { studyAbroadCardData } = Astro.props as {
  studyAbroadCardData: CountryCard;
};

const countryImage = `https://images.unsplash.com/photo-1488646953014-85cb44e25828?w=800&q=80`;
---

<article class="destination-card">
  <a
    href={routes.STUDY_ABROAD + "/" + studyAbroadCardData.data.slug}
    class="card-link"
  >
    <div class="card-image">
      <img
        src={countryImage}
        alt={studyAbroadCardData.country}
        loading="lazy"
      />
      <div class="card-overlay"></div>
    </div>

    <div class="card-content">
      <div class="card-top">
        <span class="destination-tag">Study in</span>
      </div>

      <h3>{studyAbroadCardData.country}</h3>

      <div class="arrow-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2.5"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </div>
    </div>
  </a>
</article>
