---
import { site } from "../lib/constants";
---

<footer>
    <div class="top">
        <h1 class="title">{site.NAME}</h1>
        <ul>
            <li>
                <a href="">Universities</a>
            </li>
            <li>
                <a href="">Study Destinations</a>
            </li>
        </ul>
    </div>

    <div class="bottom">
        © 2025 <b>StudyAbroadNp™</b> All Rights Reserved.
    </div>
</footer>
