---
import { routes } from "@/lib/routes";
import { Icon } from "astro-icon/components";
---

<button>
  <a href={routes.UNIVERSITIES}>
    View all Consultancies
    <Icon size={25} name="arrowRight" />
  </a>
</button>
