---
import { routes } from "@/lib/routes";
import { getAllUniversities } from "@/lib/fetch/universities";
import UniversityCard from "./UniversityCard.astro";
import SectionHeading from "@/components/common/SectionHeading.astro";
import ViewAllButton from "@/components/common/button/ViewAllButton.astro";

const universitiesRes = await getAllUniversities();
const universities = universitiesRes.data;
const featuredUniversities = universities?.slice(0, 6);
---

<section class="section-university">
  <div class="section-container">
    <div class="section-header">
      <SectionHeading
        title="Popular Universities"
        subTitle="Discover top study abroad destinations for Nepali students"
      />
      <ViewAllButton title="Universities" url={routes.UNIVERSITIES} />
    </div>

    <div class="universities-grid">
      {
        featuredUniversities?.map((university) => {
          return <UniversityCard universityCardData={university} />;
        })
      }
    </div>
  </div>
</section>
